# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Database files
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Log files
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Redis dump file
dump.rdb

# Streamlit specific
.streamlit/

# System specific files
.DS_Store
Thumbs.db
